<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @listing.content %>
</p>

<p>
  <b>User:</b>
  <%= @listing.user_id %>
</p>


<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
