<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
	<section>
 <h1>
 	<%= gravatar_for @user %>
 	<%= @user.name %>
 </h1>
</section>
</aside>
<div class="span8">
	<h3>Microlists (<%= @user.microlists.count %>)</h3>
	<ol class="microlists">
		<%= render @microlists %>
	</ol>
	<%= will_paginate @microlists %>
	<% end %>
 </div>
</div>
