<<<<<<< HEAD
<div class="row-fluid" id="scramble">

	<div class="span12"> <!-- Image, price and milestone view. -->
		<div class="span6">
		
<%= image_tag @scramble.image(:medium) %>

    </div>

    <div class="span6" id="pricemodule">

<%= milestone_bar([0, @scramble.orders.count], [80, 175], 250, ["20%", "35%"]) %>
   
    <div id="noDays"></div> 
   
    
   <%= link_to "Reserve this scramble", new_scramble_order_path(@scramble), class: "btn btn-success btn-large", id: "buybtn" %>

      <span id="scramblestats">  Current price : <%= number_to_currency(@scramble.price) %>
     </span> 



    </div>

</div>

 <div class="span12"> <!-- Title, description and retailer view. -->
   <div class="span8">
    <h2>
  	  <%= @scramble.title %>
    </h2>

	<p>
	  <%= simple_format @scramble.description %>
	</p>
  </div>

<!-- Scramble share and retailer -->

 <div class="span4">
 	<h3> Scramble by </h3>
	<p>
	  <%= image_tag @scramble.user.avatar(:thumb), id: "avatarshow" %> <%= @scramble.user.name %> <br><i><small>
	  "<%= @scramble.user.description %>"
	</small></i>
	</p>

	<% if current_user == @scramble.user %>
		<%= link_to 'Edit', edit_scramble_path(@scramble), class: "btn btn-primary" %>
	<% end %>

</div>

<!-- Share buttons -->
<div class="span4" id="scrambleshare">
	<h3> Share this scramble with your friends. </h3>
	</div>

  </div>
</div>

<div id="powered">

  <center><strong> Powered by <%= link_to "ScrambleBox", root_path %>. </strong></center>

</div>
=======
<% provide(:title, "Scramble") %>

<div class="container marketing" id="scrmblePage">
      <!-- Three columns of text below the carousel -->
      <div class="row" id="topScrmbls">
        <div class="span11">
        	        <center> <h1> <%= @scramble.title %> </h1> </center>
                  <hr>
            <img src="/assets/home-interior-design.jpg">
            <p>

            <%= milestone_bar([5,17], [15,20], 25, ["10%", "20%"]) %>


        <center>   <h2>Heading</h2>     </center>
          <p> <%= @scramble.content %> </p>

        </div><!-- /.span4 -->
        <div class="span4" id="scrmbleSideBar">
          <h2><%= @business.name %></h2>
          <p><a class="btn btn-warning btn-large" href="#">Follow</a></p>
          <p> <%= @business.contactinfo %> </p>
          <p><b><%= @business.slogan %></b></p>
          <p> www.plektersalg.no </p>
          <hr>
          <h4>Friends who bought this scramble</h4>
          <p> -------------------------
            --------------------------
            --------------------------
            ---------------------------
            ---------------------------
          </p>
          <hr>
          <h4>Scrambles from {retailername}</h4>
          <p> --------------------------------
            -----------------------------------
            -----------------------------------
            ----------------------------------
            -----------------------------------
            </p>
            <a class="btn btn-primary" href="#">More from {retailername}&raquo;</a>
            <hr>
             <h4>Related scrambles</h4>
          <p> --------------------------------
            -----------------------------------
            -----------------------------------
            ----------------------------------
            -----------------------------------
            </p>
            <a class="btn btn-primary" href="#">More &raquo;</a>



        </div><!-- /.span4 -->
      </div><!-- /.row -->                
    </div><!-- container -->
      </div><!-- /.row -->
>>>>>>> 5cd8ed10911b1e37a98f0635ad6202893d2ab629
